@import url("/vendor/normalize-4.1.1.css");

// /* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) { ... }
//
// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) { ... }
//
// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) { ... }

* {
  box-sizing: border-box;
}
// *, *:before, *:after {
//   box-sizing: inherit;
// }

body {
  color: #244751;
  background-color: #eee;
}

// for embed media
.raw-text{
  width: 650px;
  margin: 0 auto;
  padding: 20px 0;
}

.user-specific {
  display: none;
}

#error-duplicate-url {
  display: none;
}

#error-duplicate-handle {
  display: none;
}

#radio-bar {
  margin-bottom: 20px;
}

body { font-family: sans-serif; }

.grid {
  margin: auto;
  width: 100%;
}


.grid-item {
  float: left;
  width: 200px;
  background: #e6e5e4;
  border: 2px solid black;
}
