@import url("/vendor/normalize-4.1.1.css");

// /* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) { ... }
//
// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) { ... }
//
// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) { ... }

// html {
//   box-sizing: border-box;
// }
// *, *:before, *:after {
//   box-sizing: inherit;
// }

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
}

// for embed media
.raw-text{
  width: 650px;
  margin: 0 auto;
  padding: 20px 0;
}

.user-specific {
  display: none;
}



body { font-family: sans-serif; }

.grid {
  margin-top: 20px;
}

.grid-item-content {
  height: 100%;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  padding: 5px;
}
