@import url("/vendor/normalize-4.1.1.css");

// /* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) { ... }
//
// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) { ... }
//
// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) { ... }

* {
  box-sizing: border-box;
}
// *, *:before, *:after {
//   box-sizing: inherit;
// }

body {
  color: #244751;
  background-color: rgb(176, 255, 214);
}

#nav {
  background-color: rgb(94, 103, 107);
}

#new-post-button, #username, #logout-button, #update-profile-button, #myresources-button, #categories-button,
#all-posts-button, #my-posts-button, #likes-button, #new-post-submit, #update-profile-submit,
#login-submit, #register-submit, #login-button, #register-button {
  background-color: rgb(94, 103, 107);
  border: 2px solid black;
}

// for embed media
.raw-text{
  width: 650px;
  margin: 0 auto;
  padding: 20px 0;
}

.nav {
  padding: 10px;
}

.user-specific {
  display: none;
}

#error-duplicate-url {
  display: none;
}

#error-duplicate-handle {
  display: none;
}

#error-login {
  display: none;
}

#radio-bar {
  margin-bottom: 20px;
}

#new-post-button {
  margin-right: 20px;
}

body { font-family: 'Fredoka One', cursive; }

.enlarge-content-comments-box {
  height: 120px;
  overflow: scroll;
  padding: 10px;
}

.radio-bar {
  margin: auto;
  width: 60%;
}

.grid {
  margin: auto;
  width: 90%;
  height: 100%;
  background-color: rgb(189, 189, 189);
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  opacity: .8;
}

.grid-item {
  float: left;
  width: 200px;
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
}

.grid-item:hover {
  opacity: 1;
}

.img-rounded {
  max-width: 100%;
  max-height: 100%;
}
