@import url("/vendor/normalize-4.1.1.css");
/* line 12, ../sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 19, ../sass/main.scss */
body {
  color: #244751;
  background-color: #b0ffd6;
}

/* line 24, ../sass/main.scss */
#nav {
  background-color: #5e676b;
}

/* line 28, ../sass/main.scss */
#new-post-button, #username, #logout-button, #update-profile-button, #myresources-button, #categories-button,
#all-posts-button, #my-posts-button, #likes-button, #new-post-submit, #update-profile-submit,
#login-submit, #register-submit, #login-button, #register-button {
  background-color: #5e676b;
  border: 2px solid black;
}

/* line 36, ../sass/main.scss */
.raw-text {
  width: 650px;
  margin: 0 auto;
  padding: 20px 0;
}

/* line 42, ../sass/main.scss */
.nav {
  padding: 10px;
}

/* line 46, ../sass/main.scss */
.user-specific {
  display: none;
}

/* line 50, ../sass/main.scss */
#error-duplicate-url {
  display: none;
}

/* line 54, ../sass/main.scss */
#error-duplicate-handle {
  display: none;
}

/* line 58, ../sass/main.scss */
#error-login {
  display: none;
}

/* line 62, ../sass/main.scss */
#radio-bar {
  margin-bottom: 20px;
}

/* line 66, ../sass/main.scss */
#new-post-button {
  margin-right: 20px;
}

/* line 70, ../sass/main.scss */
body {
  font-family: 'Fredoka One', cursive;
}

/* line 72, ../sass/main.scss */
.enlarge-content-comments-box {
  height: 120px;
  overflow: scroll;
  padding: 10px;
}

/* line 78, ../sass/main.scss */
.radio-bar {
  margin: auto;
  width: 60%;
}

/* line 83, ../sass/main.scss */
.grid {
  margin: auto;
  width: 90%;
  height: 100%;
  background-color: #bdbdbd;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  opacity: .8;
}

/* line 94, ../sass/main.scss */
.grid-item {
  float: left;
  width: 207px;
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  opacity: 0.8;
  padding: 10px;
}

/* line 104, ../sass/main.scss */
.grid-item:hover {
  opacity: 1;
}

/* line 108, ../sass/main.scss */
.img-rounded {
  max-width: 100%;
  max-height: 100%;
}
