@import url("/vendor/normalize-4.1.1.css");
/* line 12, ../sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 19, ../sass/main.scss */
body {
  color: #244751;
  background-color: #eee;
}

/* line 25, ../sass/main.scss */
.raw-text {
  width: 650px;
  margin: 0 auto;
  padding: 20px 0;
}

/* line 31, ../sass/main.scss */
.user-specific {
  display: none;
}

/* line 35, ../sass/main.scss */
#error-duplicate-url {
  display: none;
}

/* line 39, ../sass/main.scss */
#error-duplicate-handle {
  display: none;
}

/* line 43, ../sass/main.scss */
#radio-bar {
  margin-bottom: 20px;
}

/* line 47, ../sass/main.scss */
body {
  font-family: sans-serif;
}

/* line 49, ../sass/main.scss */
.grid {
  margin: auto;
  width: 100%;
}

/* line 54, ../sass/main.scss */
.grid-item {
  float: left;
  width: 200px;
  background: #e6e5e4;
  border: 2px solid black;
}

/* line 61, ../sass/main.scss */
.thumbnail {
  max-width: 100%;
  max-height: 100%;
}
