@import url("/vendor/normalize-4.1.1.css");
/* line 12, ../sass/main.scss */
html {
  box-sizing: border-box;
}

/* line 15, ../sass/main.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 19, ../sass/main.scss */
body {
  margin: 0;
  color: #244751;
  background-color: #eee;
}

/* line 26, ../sass/main.scss */
.raw-text {
  width: 650px;
  margin: 0 auto;
  padding: 20px 0;
}

/* line 32, ../sass/main.scss */
.user-specific {
  display: none;
}

/* line 38, ../sass/main.scss */
body {
  font-family: sans-serif;
}

/* line 40, ../sass/main.scss */
.grid {
  margin-top: 20px;
}

/* line 44, ../sass/main.scss */
.grid-item-content:first-child {
  border-radius: 5px;
}

/* line 48, ../sass/main.scss */
.grid-item-content {
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
}
