@import url("/vendor/normalize-4.1.1.css");
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  color: #244751;
  background-color: #eee; }

/* write jquery code to add/remove this ID to the dropdown list item */
#logged-in {
  visibility: hidden; }

/* write jquery code to add/remove this class to the login/register list items */
.not-logged-in {
  visibility: hidden; }
